/* Custom CSS Classes */
body {
    font-family: 'Poppins',
        sans-serif;
}

.convention-text-color {
    color: black;
}

.convention-btn {
    background-color: whitesmoke;
    color: #3F87F5;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
}

.get-planning-bg-color {
    background-color: whitesmoke;
    color: black;
    padding: 50px;
    text-align: center;
}

.get-planning-btn {
    background-color: #3F87F5;
    color: whitesmoke;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
}

.package-fontcolor {
    color: black;
}

.choose-plan-btn {
    color: #3F87F5;
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
}

.wedding-plus {
    background-color: #3F87F5;
}

.collapse-btn {
    background-color: whitesmoke;
}

.footer-bg-color {
    background-color: #0B0D17;
    color: whitesmoke;
}